@import '../Styles/styles';

.wait-box {
  @include modal-box;
}

.wait-box-inner {
  @include modal-box-inner;
}

.icon-wait {
  animation: running-animate 0.8s linear infinite;
  width: 50px;
}

@keyframes running-animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
