@mixin button-color($color) {
  background-color: $color;
  border: 1px solid $color;
}

@mixin button($color) {
  border-radius: 5px;
  color: $color;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
}

button.btn {
  @include button-color(#007dff);
  @include button(#fff);
}

button.btn:hover {
  @include button-color(#0059ff);
}

button.btn:active {
  @include button-color(#0011fe);
}

button.btn.disabled {
  @include button-color(#e5e9ec);

  color: rgba(0, 0, 0, 0.2);
}

button.btn-gray {
  @include button-color(#e9ecef);
  @include button(#000);
}

button.btn-gray:hover {
  @include button-color(#dde0e4);
}

button.btn-gray:active {
  @include button-color(#c8cdd3);
}

button.btn-gray.disabled {
  @include button-color(#e2e5e8);

  color: rgba(0, 0, 0, 0.2);
}
