@mixin dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-update {
  position: absolute;
  right: 8px;
  width: 32px;
}

button.circle.update-button-color {
  background-color: #eadcef;
}

button.circle.update-button-color:hover {
  background-color: #d0d3f3;
  opacity: 1;
}

.tooltip-title-meeting {
  @include dots;

  font-size: 0.9em;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  width: calc(100% - 32px);
}

.tooltip-date-meeting {
  @include dots;

  font-size: 0.7em;
  text-align: center;
}

.tooltip-members-meeting {
  align-items: center;
  display: flex;
  font-size: 0.7em;
  justify-content: space-between;
  line-height: 17px;
  padding-top: 5px;
}

.tooltip-members-meeting-inner {
  align-items: center;
  display: flex;
}

.img-circle {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.tooltip-name-members {
  @include dots;

  padding: 0 5px 0 8px;
}

.tooltip-other-members {
  color: #858e98;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0;
}
