.icon-message {
  display: block;
  height: 52px;
  margin: 0 auto;
  overflow: hidden;
  width: 52px;
}

.icon-celebrate {
  @extend .icon-message;

  background: url('../Images/pages.png') 0 -38px no-repeat;
  background-size: 130px;
}

.icon-error {
  @extend .icon-message;

  background: url('../Images/error-icon.png') no-repeat;
  background-size: 49px;
}

.header-modal-block {
  color: #000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
  text-align: center;
}
