$height-header: 65px;
$height-date-switcher: 45px;

main {
  height: calc(100% - #{$height-header});
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}

.date-switch-block-device {
  border-top: 1px solid #dee7f4;
  height: 45px;
  min-width: 310px;
  width: 100%;
}

.date-switch-wrapper {
  height: inherit;
}

@media screen and (max-width: 640px) {
  main {
    height: calc(100% - #{$height-header} - #{$height-date-switcher});
  }
}
