.date-switch-main {
  height: inherit;
}

.date-switch-block {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  padding: 0 25px;
}

.date-switch-title {
  cursor: pointer;
  font-weight: bold;
  padding: 0 15px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 640px) {
  .date-block {
    justify-content: space-between;
  }
}

button.circle.header-color {
  background-color: #e9ecef;
}

button.circle.calendar-color {
  background-color: #fff;
}

button.circle {
  border: 1px solid #e9edf0;
  border-radius: 50%;
  height: 30px;
  opacity: 0.5;
  position: relative;
  width: 30px;
}

.circle.header-color {
  background-color: #e9ecef;
}
