button.calendar-color {
  background-color: #fff;
}

button.calendar-color:hover {
  background-color: #afbcde;
  opacity: 1;
}

.calendar {
  background: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  min-width: 310px;
  padding: 15px;
  position: relative;
  width: 350px;
  z-index: 1000;
}

.calendar-inner {
  background-color: #e9ecef;
  border-radius: 8px;
  height: 100%;
  padding: 5px;
  width: 100%;
}

.calendar-months {
  padding: 10px;
}

.calendar-dates-row > div {
  padding: 4px;
  text-align: center;
  width: 100%;
}

.calendar-dates-row > div:nth-last-child(2),
.calendar-dates-row > div:last-child {
  color: #f00;
}

.calendar-current-day {
  background-color: #9cb5ce;
  border-radius: 3px;
}

.calendar-dates-row {
  display: flex;
  width: 100%;
}

.calendar-day {
  cursor: pointer;
}

.calendar-day:hover {
  background-color: #b4c9de;
  border-radius: 3px;
}

.calendar-day:active {
  background-color: #afbcde;
}

@media screen and (max-width: 640px) {
  .calendar {
    left: 50% !important;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 320px) {
  .calendar {
    left: 0 !important;
    transform: none;
    width: 100%;
  }
}
