@import '../Styles/styles';

.modal-box {
  @include modal-box;
}

.modal-box-inner {
  @include modal-box-inner;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
}

.btn-modal-block {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.modal-box-inner > div {
  padding: 5px 0;
}

@media screen and (max-width: 320px) {
  .modal-box-inner {
    min-width: 320px;
    width: 100%;
  }
}
