@mixin modal-box-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  min-width: 350px;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
}

@mixin modal-box {
  background: rgba(0, 16, 33, 0.4);
  bottom: 0;
  left: 0;
  pointer-events: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

span.dot-before::before {
  content: '\00B7';
  padding-left: 5px;
  padding-right: 5px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}
