$header-component: 65px;

@mixin edge-block-padding {
  padding: 0 25px;
}

.header {
  border-bottom: 1px solid #e9ecef;
  box-shadow: 0 -1px 0 0 #e9ecef;
}

.header-block {
  align-items: center;
  display: flex;
  height: $header-component;
  justify-content: space-between;
}

.logo-block {
  @include edge-block-padding;
}

.logo-block img {
  width: 190px;
}

.right-header-block {
  @include edge-block-padding;
}

@media screen and (max-width: 640px) {
  .logo-block img {
    width: 140px;
  }
}
