$base-width: 100%;
$base-min-width: 950px;
$height-time-header: 45px;

$height-line-current-time: 100vh;
$height-line-mobile-current-time: $height-line-current-time;

$block-left-width-desktop: 20%;
$block-left-min-width-desktop: 310px;
$block-left-min-width-mobile: 200px;

$border-color-outer: #dee7f4;
$border-color-outer-mobile: #f7f8f9;

$background-color: #fff;
$border-color-header: #e9ecef;
$background-color-time-zone: #f6f7f9;
$background-color-time-filled: #d5dfe9;
$color-visited: #858e98;

$background-color-unfilled-hover: #2b50fd;
$background-color-unfilled-active: #1d00fe;
$background-color-filled-hover: #98a9b9;
$background-color-filled-active: #8695a3;

@mixin block-left($min-width, $width) {
  height: 100%;
  min-width: $min-width;
  width: $width;
}

@mixin time-body-columns {
  display: flex;
  width: 100%;
}

.is-devices {
  display: none;
}

.is-desktop {
  display: block;
}

.main-timeline {
  background-color: $background-color;
  box-sizing: border-box;
  font-family: Helvetica, serif;
  font-size: 1em;
  height: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  width: $base-width;
}

.main-inner {
  height: 100%;
  min-width: $base-min-width;
  overflow: hidden;
  width: 100%;
}

.time-header {
  background-color: $background-color;
  border-bottom: 1px solid $border-color-header;
  border-top: 1px solid $border-color-header;
  display: flex;
  height: $height-time-header;
  min-width: $base-min-width;
}

.block-left {
  @include block-left($block-left-min-width-desktop, $block-left-width-desktop);
}

.block-left-date {
  @include block-left($block-left-min-width-desktop, $block-left-width-desktop);

  background-color: $background-color;
  border-right: 1px solid $border-color-outer;
}

.block-left-design {
  @include block-left($block-left-min-width-desktop, $block-left-width-desktop);

  background-color: $background-color;
  border-right: 1px solid $border-color-outer;
}

.date-block-padding {
  padding: 0 25px;
}

.date-block {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
}

.icon-left {
  transform: translate(-50%, -50%);
}

.icon-right {
  transform: rotateY(180deg) translate(50%, -50%);
}

.date-title-cursor {
  cursor: pointer;
}

.date-title-block {
  font-weight: bold;
  padding: 0 15px;
  text-align: center;
  width: 100%;
}

span.day-week::before {
  content: '\00B7';
  padding-right: 5px;
}

.time-body-main {
  display: flex;
  height: 100%;
  width: 100%;
}

.time-body-main-clocks {
  display: flex;
  height: 100%;
  width: 100%;
}

.time-body-columns {
  @include time-body-columns;
}

.time-body-columns-item {
  @include time-body-columns;

  padding: 10px 0;
}

.time-body {
  display: flex;
  height: calc(100% - #{$height-time-header});
  min-width: $base-min-width;
}

.first-time-zone {
  width: 4%;
}

.last-time-zone {
  display: flex;
  width: 2.25%;
}

.middle-time-zone {
  display: flex;
  width: 93.75%;

  &-inner {
    @extend .middle-time-zone;

    position: relative;
  }
}

.time-zone-border {
  border-right: 1px solid $border-color-outer;
}

.time-zone-bg-main {
  background-color: $background-color-time-zone;
}

.time-zone-clock {
  position: relative;
}

.clock-time-item {
  font-size: 85%;
  font-weight: bold;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.meeting-list {
  background-color: transparent;
  height: calc(100% - #{$height-time-header});
  min-width: $base-min-width;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100vw;
}

.meeting-list-inner {
  height: 100%;
  list-style-type: none;
  margin: 0;
  min-width: $base-min-width;
  padding: 0;
  width: 100vw;
}

.meeting-rooms-header {
  display: flex;
}

.meeting-list li {
  margin: 0;
  padding: 0;
}

.meeting-rooms-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.meeting-rooms-list li {
  display: flex;
  margin: 0;
  padding: 0;
}

.meeting-title-block.filled {
  color: $color-visited;
}

.meeting-title-block {
  padding: 5px 25px;
}

.time-zone-close {
  background-color: $background-color-time-filled;
}

.time-zone-item {
  background-color: $background-color;
  position: relative;
}

.time-zone-unfilled-inner {
  background-color: $background-color;
  height: 100%;
  position: absolute;

  &:hover {
    background-color: $background-color-unfilled-hover;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
  }

  &:active {
    background-color: $background-color-unfilled-active;
  }

  &:hover::after {
    color: $background-color;
    content: '+';
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    left: 50%;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 50%);
  }
}

.time-zone-filled-inner {
  background-color: $background-color-time-filled;
  height: 100%;
  position: absolute;
}

.time-zone-filled-outer {
  background-color: transparent;
  height: 100%;
  position: absolute;

  &:hover {
    background-color: $background-color-filled-hover;
  }

  &:active {
    background-color: $background-color-filled-active;
  }
}

.current-time-block {
  background-color: #007dff;
  border-radius: 20px;
  font-size: 0.8em;
  padding: 2px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 100;

  &::after {
    background-color: #007dff;
    content: ' ';
    height: $height-line-current-time;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 1px;
  }
}

.past-time-item {
  color: $color-visited;
}

.meeting-title-shift {
  opacity: 0;
  position: absolute;
}

/* ********************* */

.floor-number {
  color: $color-visited;
  font-weight: bold;
  text-transform: uppercase;
}

.floor-block {
  padding: 10px 25px;
}

.title-meeting-text {
  font-weight: bold;
}

.title-meeting-block {
  padding: 10px 0;
}

.meeting-rooms-list li:hover .meeting-title-block:not(.filled) .title-meeting {
  color: #0070e0;
}

.count-people-text {
  font-size: 85%;
}

/* ********************* */

@media screen and (max-width: 640px) {
  .is-devices {
    display: block;
  }

  .is-desktop {
    display: none;
  }

  .current-time-block::after {
    height: $height-line-mobile-current-time;
  }

  .date-block {
    justify-content: space-between;
  }

  .time-header {
    flex-direction: column;
    height: auto;
  }

  .block-left {
    @include block-left($block-left-min-width-mobile, $block-left-min-width-mobile);
  }

  .block-left-date {
    border-bottom: none;
    border-right: none;
    border-top: 1px solid $border-color-outer;
    height: $height-time-header;
    min-width: $block-left-min-width-desktop;
    width: 100%;
  }

  .time-body-main-clocks {
    height: $height-time-header;
  }

  .block-left-floor {
    @include block-left($block-left-min-width-mobile, $block-left-min-width-mobile);

    background-color: $background-color-time-zone;
  }

  .block-left-design {
    @include block-left($block-left-min-width-mobile, $block-left-min-width-mobile);

    border: none;
  }

  .meeting-rooms-list > li {
    border-bottom: 1px solid $border-color-outer-mobile;
    position: relative;
  }

  .meeting-rooms-list > li:last-child {
    border-bottom: none;
  }

  .time-body-columns-item {
    @include time-body-columns;

    padding: 0;
  }

  .meeting-title-shift {
    border-radius: 4px;
    font-size: 0.8em;
    opacity: 0;
    padding: 3px 4px;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .meeting-shift {
    background: $background-color;
    box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  }
}
