button.circle {
  border: 1px solid #e9edf0;
  border-radius: 50%;
  height: 30px;
  opacity: 0.5;
  position: relative;
  width: 30px;
}

button.circle.main-color {
  background-color: #e9ecef;
}

button.circle.main-color:hover {
  background-color: #eff1f3;
  opacity: 1;
}

.icon-circle {
  display: block;
  height: 18px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 18px;
}

.icon.arrow-left {
  @extend .icon-circle;

  background: url('../Images/pages.png') no-repeat;
  background-size: 130px;
  transform: translate(-50%, -50%);
}

.icon.arrow-right {
  @extend .icon-circle;

  background: url('../Images/pages.png') no-repeat;
  background-size: 130px;
  transform: rotateY(180deg) translate(50%, -50%);
}

.icon.update {
  @extend .icon-circle;

  background: url('../Images/pages.png') -71px 0 no-repeat;
  background-size: 130px;
  transform: translate(-50%, -50%);
}

.icon.close {
  @extend .icon-circle;

  background: url('../Images/pages.png') -36px 0 no-repeat;
  background-size: 130px;
  transform: translate(-50%, -50%);
}
