$width-tooltip: 300px;
$width-tooltip-mobile: 320px;

@mixin arrow-tooltip {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
}

.tooltip-block {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  max-width: $width-tooltip;
  padding: 15px;
  position: absolute;
  width: $width-tooltip;
  z-index: 1000;
}

.arrow-top {
  @include arrow-tooltip;

  border-bottom: 10px solid #fff;
  border-top: none;
  top: -10px;
}

.arrow-bottom {
  @include arrow-tooltip;

  border-bottom: none;
  border-top: 10px solid #fff;
  bottom: -10px;
}

@media screen and (max-width: 320px) {
  .tooltip-block {
    min-width: $width-tooltip-mobile;
  }
}
