* {
  box-sizing: border-box;
}

#root {
  height: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Helvetica, serif;
  font-size: 1.1em;
}

.is--devices {
  display: none;
}

.is--desktop {
  display: block;
}

@media screen and (max-width: 640px) {
  body {
    min-width: auto;
  }

  .is--devices {
    display: block;
  }

  .is--desktop {
    display: none;
  }
}
